APP_DOMAIN=robo-factory.ru
POSTGRES_USER=robo
POSTGRES_DB=robofactory
POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_DATABASE_PASSWORD
SECRET_KEY=REPLACE_WITH_RANDOM_JWT_SECRET
DATASETS_DIR=/opt/robo-factory/shared/datasets
